{% extends 'share/layout.html' %}

{% block main %}
{% load evttags %}

<style>
    table{
        margin-left:auto;
        margin-right:auto;
    }

    th{
        padding-bottom: 30px;
        padding-left: 10px;
    }

    .btn_new{
        margin-top: 20px;
    }

    .btn_new_rwd{
        display: none;
    }

    @media(max-width: 768px){
        table{
            width: 300px;
            font-size: 14px;
        }

        input{
            width:100px;
            font-size:12px;
        }

        .btn_search{
            font-size:12px;
        }

        .btn_new{
            display: none;
        }

        .btn_new_rwd{
            display: block;
            margin-right: 90px;
            margin-bottom: 20px;
        }
    }
</style>
                <a href="{% url 'event:add' %}" type="submit" class="btn btn-primary float-right  btn_new">新增活動</a>

				<h3 class="page_title" style="margin-bottom: 40px; text-align: center; margin-top: 20px;">
					活動列表
				</h3>

                <a href="{% url 'event:add' %}" type="submit" class="btn btn-primary float-right  btn_new_rwd">新增活動</a>
    
				{% for event in events %}
            <table>
                <tr>
                    <th style="padding-bottom: 30px; padding-left: 10px;">
                        活動名稱: {{ event.eventname }}
                        <p>是否張貼: {{ event.on_going|True_or_False }}</p>
                        <br>
                        <a href="{% url 'event:detail' event.id %}">詳細>></a>
                    </th>
                    <td class="feed_time" style="padding-top: 60px; padding-right: 10px;"></td>
                </tr>

            {% endfor %}

				</table>

{% endblock %}

