.nav_bg{
    background-color: #1A1344;
    height: 60px;
}

.nav_logo{
    color: white;
    margin-top: 15px;
}

.nav_img{
    width: 50px;
    height: 50px;
    margin-top: 5px;
}

.nav_align{
    text-align: right;
}

.body_bg{
    background-color: #D3DAEF;
}

.login_img{
    width: 180px;
    height: 180px;
}

.login_img_align{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.account{
    font-size: 20px;
    color: black;

}

.account_align{
    text-align: center;
}

.text_size{
    height: 25px;
    line-height: 0%;
    margin: 0;
}

.btn_color{
    background-color: #1A1344;
    color: white;
    margin-top: 10px;
}

.list_bar{
    background-color: white;
    height: 1200px;
    padding-top: 20px;
}

.list_text{
    color: black;
    text-align: center;
    border-bottom: solid gray 1px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

#calendar{
    margin: 0 auto;
    background-color: white;
}

.cal{
    margin-top: 20px;
    text-align: center;
}

a{
    color: black;
}

.page_title{
    color: black;
    margin-bottom: 20px;
    text-align: center;
}

.fc-toolbar{
    background-color: #1A1344;
    color: white;
    height: 50px;
    padding: 10px;
}

.sche_label{
    font-size: 200px;
}

.selectbar{
    font-size: 20px;
}

.sche_btn{
    color: white;
    background-color: #1A1344;
}
