@media (max-width:1025px) {

}
@media  (min-width: 1420px) {
    .footer_pho{display:none; }
    .footer_social{display:none;}
}
@media  (max-width: 1420px) {
    .footer{display:none;}
    .footer_social{display:none;}
    .footer_logo{
        border-radius: 50%;
        text-align:center;
        vertical-align: middle;
        display: flex;
        align-items: center;
        margin:auto;
        width:100px;
        height:100px;
    }



/* width<768*/
@media only screen and (min-width: 576px) and (max-width: 767px) {

}

}
@media (max-width: 576px) {


}


/* width<375*/
@media (max-width:376px) {

}
body{
    background-color:black;
    background-image: url("image/bg.jpg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size:auto 600px;
    background-position:center;
    font-size: 18px;
}
.container-fluid{
    max-width: auto;
    height: auto;
    margin: 0 auto;
}
#header{
    height: 150px;
    
    padding-bottom: 40px;

}

.burgar_btn {
    display: none;
    // PC 時不顯示

    .fas {
        display: none;
    }

    @include pad {
        display: block;
        // 在 pad 螢幕解析度以下顯示
        color: $primary-color;
        font-size: $font-l;
        float: right;
        margin-right: 1em;
        line-height: 50px;

        .fas {
            display: block;
            line-height: 50px;
            // 在 pad 螢幕解析度以下顯示
        }
    }
}

#logo{
    border-radius: 10px;
    text-align: center;
    position:relative;
    z-index:100;
    @media screen and (max-width: 1560px){
    width:210px:
    height:210px:
    }
    @media screen and (max-width: 1000px){
    width:110px:
    height:110px:
    }
}

#button{
    
    color: white;
    
    font-size: 30px;
    background-color: transparent;
    border: transparent;
}

#button:hover{
    color:#C1BCBC;
}
#button:active{
    border-color:black;
}
a {
    color:white;
    text-decoration:none;
}
a:hover{
    color:#C1BCBC;
    text-decoration:none;
}

#carousel{
    height: 800px;
    position:relative;
   
   
}
#carousel-img{
    position:absolute;
    
}
#food{
    margin-top: 50px;
    margin-bottom: 50px;
}
#food-img{
    width: 500px;
    height: 500px;
    
}
#food-con{
    font-size: 18px;
    color:white;
    
}
.logo{
    max-width: 100%;
    height: auto;
}


#activity
.act{
    
    text-align: center;
    
}
.act-img{
    width: 500px; 
    height: 500px;
    text-align: center;
}
.act-img img{
    width: 500px;
    height: 500px;
}
.act-img-td {
    width: 500px; 
    height: 100px;
    text-align: center;
}
.contenter{
    width: 100%;
    
}
.content{
    margin-left: 10%;
    
}
.more{
    
    width: 2000px;
}

.more li{
    
    display:inline;
    float:left;
    margin-bottom: 60px;
}
.pic{
    width:500px;
}
.more-des{
    width: 400px;
    background-color: whitesmoke;
    text-align: center;
}
.more-des button{
    width: 100px;
    height: 40px;
    background-color:#C1BCBC;
    border-radius: 30px;
    border-color: black;
}
.more-des button:hover{
    background-color: whitesmoke;
}

#about
#about-des{
height: 600px;
font-size: 18px;
}


#food
.nav-list{
    margin-top:30px; 
    padding:0; 
    text-align:center;
}

.nav-list span { 
    margin-right:3px; 
    margin-left:3px; 
    border:#E0E0E0 2px outset; 
    padding:5px; 
    font-size:14px; 
    color:#E0E0E0; 
}

.nav-list span a { 
    text-decoration:none; 
    color:#E0E0E0; 
}

.nav-list span a:hover { 
    background:#9933FF; 
    
}
.menu-content{
    margin-left: 15%;
    margin-right:15%;
    height: 400px;
}
.menu{
    padding:10px;
}
#menu ul{
    width:300px;
    margin-left:0px;
}

#menu img{
    width: 200px;
    height: 200px;
}

.menu li{
    
    display:inline;
    float:left;
    margin-bottom: 60px;
}
.menu-pic{
    width:250px;
}
.menu-des{
    color:white;
}

* {box-sizing: border-box;}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup chat - hidden by default */
.chat-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width textarea */
.form-container textarea {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
  resize: none;
  min-height: 200px;
}

/* When the textarea gets focus, do something */
.form-container textarea:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/send button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}