{% extends 'share/layout.html' %}

{% block main %}

<style>
    form{
        text-align: left;
        font-size: 24px;
    }

    .form-group{
        width: 400px;
        margin: 0 auto;
    }

    form>button{
        margin-top: 20px;
        margin-left: 840px;
    }

    form>a{
        margin-top: 20px;
        color: green;
    }

    table{
		background-color: #D3DAEF; 
		margin: 0 auto; 
		font-size: 24px; 
		width: 400px; 
		border: none;
	}

	@media(max-width: 767px){
		select{
			width:130px;
		}

		input{
			width:130px;
		}

		.btn-out{
			margin-right: 100px;
		}

		table{
			width:300px;
		}

        .form-group{
            width:300px;
        }

        form>button{
            margin-top: 20px;
            margin-left: 120px;
        }
	}
</style>

<h3 style="text-align: center; margin-top: 20px; margin-bottom: 0px;">修改密碼</h3>


{% include 'share/_form.html' %}


{% endblock %}

