{% extends 'share/layout.html' %}

{% block main %}

<style>
	select{
		width: 500px;
		height: 45px;
		border-radius: .25rem;
		border: 1px solid rgba(0,0,0,.15);
	}

	select:focus{
		background-color: #fff;
		border-color: #5cb3fd;
		outline: 0;
	}

	input{
		-ms-touch-action: manipulation;
      	touch-action: manipulation;
		width: 500px;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: .25rem;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

	}

	input:focus{
		background-color: #fff;
		border-color: #5cb3fd;
		outline: 0;
	}

	p>input{
		width: 240px;
	}
</style>

<h3 style="text-align: center; margin-top: 20px; margin-bottom: 40px;">修改資料</h3>

<table style="background-color: #D3DAEF; margin: 0 auto; font-size: 24px; width: 400px; border: none;">
	<form action="" method="POST">
	{% csrf_token %}
	<tr>
		<th style="padding-bottom: 10px;">
			{{ form.last_name.label_tag }}
			{{ form.last_name }}
		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.first_name.label_tag }}
			{{ form.first_name }}
		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.email.label_tag }}
			{{ form.email }}
		</th>
	</tr>

	<tr style="float: right;">
		<th style="padding-top: 10px;">
			<button type="submit" class="btn btn-primary">送出</button>
			<a href="{% url 'schedule:index' %}" class="btn btn-primary">返回</a>
		</th>
	</tr>
</table>

{% endblock %}