{% extends 'share/customerlayout.html' %}

{% block main %}
{% load static %}
<button class="open-button" onclick="openForm()" ><img src="{% static 'customer/image/bot.png' %}" style="width:100px;height:100px"  ></button>

		<div class="chat-popup" id="myForm">
		  <div action="" class="form-container">
			<img src="{% static 'customer/image/bot.png' %}" style="width:20px;height:20px">滿山望海</img>
			<button type="button" class="btn ord" onclick="" href="{% url 'customer:book' %}">
				<a href="{% url 'customer:book' %}"
                   class="btn btn-outline-info float-right">
                    訂位
                </a>
			</button>


			<div class="row">
				<div class="col">
					<!-- 加上訊息顯示 -->
				</div>
			</div>

			<button type="button" class="btn cancel" onclick="closeForm()">關閉</button>
		  </div>
		</div>
{% endblock %}