{% extends 'share/layout.html' %}

{% block main %}

<style>
	select{
		width: 500px;
		height: 45px;
		border-radius: .25rem;
		border: 1px solid rgba(0,0,0,.15);
	}

	select:focus{
		background-color: #fff;
		border-color: #5cb3fd;
		outline: 0;
	}

	input{
		-ms-touch-action: manipulation;
      	touch-action: manipulation;
		width: 500px;
		background-clip: padding-box;
		border: 1px solid rgba(0,0,0,.15);
		border-radius: .25rem;
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;

	}

	input:focus{
		background-color: #fff;
		border-color: #5cb3fd;
		outline: 0;
	}

	p>input{
		width: 240px;
	}

	table{
		background-color: #D3DAEF; 
		margin: 0 auto; 
		font-size: 24px; 
		width: 400px; 
		border: none;
	}

	@media(max-width: 767px){
		select{
			width:130px;
		}

		input{
			width:130px;
		}

		.btn-out{
			margin-right: 100px;
		}

		table{
			width: 300px;
		}

        .form-group{
            width:300px;
        }

        form>button{
            margin-top: 20px;
            margin-left: 120px;
        }
	}
</style>

<h3 style="margin-bottom: 20px; text-align: center; margin-top: 20px;">填寫員工資料</h3>

<table>
	<form action="" method="POST">
	{% csrf_token %}
	<tr>
		<th style="padding-bottom: 10px;">{{ form.non_field_errors }}
			{{ form.user.label_tag }}
			{{ form.user }}
			{{ form.user.errors }}


		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.empid.label_tag }}
			{{ form.empid }}
			{{ form.empid.errors }}
		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.empname.label_tag }}
			{{ form.empname }}
			{{ form.empname.errors }}
		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.phonenum.label_tag }}
			{{ form.phonenum }}
			{{ form.phonenum.errors }}
		</th>
	</tr>

	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.position.label_tag }}
			{{ form.position }}
			{{ form.position.errors }}
		</th>
	</tr>
	
	<tr>
		<th style="padding-bottom: 10px; padding-top: 10px;">
			{{ form.job.label_tag }}
			{{ form.job }}
			{{ form.job.errors }}
		</th>
	</tr>

	<tr style="float: right;">
		<th style="padding-top: 10px;">

			<button type="submit" class="btn btn-primary">送出</button>
			<a href="{% url 'login:emp_list' %}" class="btn btn-primary btn-out">返回</a>
		</th>
	</tr>
</table>

{% endblock %}