{% extends 'share/layout.html' %}

{% block main %}
<style>
        table{
            margin-left:auto;
            margin-right:auto;
        }

        th{
            padding-bottom: 30px;
            padding-left: 10px;
        }

        @media(max-width: 768px){
            table{
                max-width: 300px;
                font-size: 12px;
                word-break: break-all;
            }

            input{
                width:100px;
                font-size:12px;
            }

            .btn_search{
                font-size:12px;
            }
        }
    </style>
			
				<h3 class="page_title" style="margin-bottom: 20px; text-align: center;">
					回饋詳細
				</h3>

				<div class="row">
                    <div class="col-md-12">
						

						<div class="row">
								<div class="col-md-12">
									
									<table>
										<tr>
											<th>
												<p>顧客姓名: {{ feedbacks.name }}</p>
												<p>顧客信箱: {{ feedbacks.email }}</p>
												<p>內容: <br>
													{{ feedbacks.content }}
												</p>
											</th>
										</tr>
										<tr>
											<td class="feed_time" style="padding-right: 10px;">時間: {{ feedbacks.cometime }}</td>
										</tr>
									</table>
			
							
									
									<p><a class="btn  btn-primary" href="{% url 'feedback:index' %}">返回</a></p>
								</div>
							</div>
					</div>
				</div>


{% endblock %}
