{% extends 'share/layout.html' %}

{% block main %}
			<div class="col-md-10 cal" >
				<h3 class="page_title">
					顧客回饋
				</h3>
<form action="{% url 'feedback:search_result' %}" method="get">
      <input name="query" type="text" placeholder="ex:姓名, 2021-05-25" >
      <button type="submit" name="button">Submit</button>
    </form>
				<div class="row">
                    <div class="col-md-12">
                        {% for feedback in feedbacks %}
                        <table>
                            <tr>
                                <th>{{ feedback.name }}</th>
                                <td><a href="{% url 'feedback:detail' feedback.id %}">詳細>></a> </td>
                                <td class="feed_time">{{ feedback.cometime }}</td>

                            </tr>
                        </table>
                        {% endfor %}
					</div>
				</div>
			</div>

{% endblock %}
