{% extends 'share/layout.html' %}

{% block main %}
	
	<h3 class="page_title" style="margin-bottom: 20px; text-align: center;">
		顧客回饋
    </h3>
    
    <div class="row">
        <div class="col-md-11" style="padding-right: 62px;">
            <form action="{% url 'feedback:search_result' %}" method="get" style="margin-bottom: 20px; text-align: right;">
                <input name="query" type="text" placeholder="ex:姓名, 2021-05-25" >
                <button type="submit" name="button" class="btn btn-primary">搜尋</button>
            </form>
        </div>
    </div>

	<div class="row">
        <div class="col-md-12">
            {% for feedback in feedbacks %}
            <table style="margin-left:auto; margin-right:auto;">
                <tr>
                    <th style="padding-bottom: 30px; padding-left: 10px;">
                        顧客姓名: {{ feedback.name }}
                        <br>
                        <a href="{% url 'feedback:detail' feedback.id %}">詳細>></a>
                    </th>
                    <td class="feed_time" style="padding-top: 60px; padding-right: 10px;">時間: {{ feedback.cometime }}</td>
                </tr>
            </table>
            {% endfor %}
		</div>
	</div>
			
{% endblock %}
