{% extends 'share/layout.html' %}

{% block main %}
				<h3 class="page_title" style="margin-bottom: 40px; text-align: center; margin-top: 20px;">
					訂位詳細
				</h3>

				<table style="background-color: #D3DAEF; margin: 0 auto; font-size: 24px; width: 300px; border: none;">
					<tr>
						<th style="padding-bottom: 10px;">
							<p><b>顧客姓氏：</b>{{ book.bookname }}</p>
						</th>
					</tr>

					<tr>
						<th style="padding-bottom: 10px; padding-top: 10px;">
							<p><b>顧客電話：</b>{{ book.booktel }}</p>
						</th>
					</tr>

                    <tr>
						<th style="padding-bottom: 10px; padding-top: 10px;">
							<p><b>人數：</b>{{ book.bookadt }}大{{ book.bookchd }}小</p>
						</th>
					</tr>

					<tr>
						<th style="padding-bottom: 10px; padding-top: 10px;">
							<p><b>時間：</b>{{ book.booktime }}</p>
						</th>
					</tr>

                    <tr>
						<th style="padding-bottom: 10px; padding-top: 10px;">
							<p><b>備註：</b>{{ book.remark }}</p>
						</th>
					</tr>
					
					<tr style="float: right;">
						<th style="padding-top: 10px;">
							<a href="{% url 'reservation:index' %}" class="btn waves-effect waves-light right sche_btn">返回</a>
<a href="{% url 'reservation:update' book.serno %}" class="btn waves-effect waves-light right sche_btn">修改</a>
<a href="{% url 'reservation:delete' book.serno %}" class="btn btn-danger">刪除</a>
						</th>
					</tr>
					
				</table>

{% endblock %}

