{% extends 'share/layout.html' %}

{% block main %}
{% load static %}
{% load bootstrap4 %}
{% bootstrap_messages %}
    <script src="{% static '/res/js/jquery.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>

    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />

<h3 class="page_title" style="margin-bottom: 40px; text-align: center; margin-top: 20px;">
	新增訂位

</h3>

{% load widget_tweaks %}
<table style="background-color: #D3DAEF; margin: 0 auto; font-size: 24px; width: 400px; border: none;">
	<form action="" method="POST">
		{% csrf_token %}

		<tr>
			<th style="padding-bottom: 10px;">{{ form.non_field_errors }}
				{{ form.bookname.label_tag }}
				{{ form.bookname }}

			</th>
		</tr>

		<tr>
			<th style="padding-bottom: 10px; padding-top: 10px;">
				{{ form.booktel.label_tag }}
				{{ form.booktel }}
			</th>
		</tr>

		<tr>
			<th style="padding-bottom: 10px; padding-top: 10px;">
				<p>{{ form.bookadt.label_tag }}{{ form.bookadt }}</p>
				{{ form.bookadt.errors }}
                <p>{{ form.bookchd.label_tag }}{{ form.bookchd }}</p>

			</th>
		</tr>

		<tr>
			<th style="padding-bottom: 10px;">

				<p>{{ form.booktime.label_tag }}{{ form.booktime }}</p>
				{{ form.booktime.errors }}
			</th>
		</tr>
    <script>
      $(function () {
        $("#id_booktime").datetimepicker(
        {step:30,});
      });
    </script>
		<tr>
			<th style="padding-bottom: 10px;">
				{{ form.remark.label_tag }}
				{{ form.remark }}
			</th>
		</tr>

		<tr style="float: right;">
			<th style="padding-top: 10px;">
				<button type="submit" class="btn btn-primary">送出</button>
				<a href="{% url 'reservation:index' %}" class="btn btn-primary">返回</a>
			</th>
		</tr></table>


{% endblock %}